{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    <span class="cart" style="float: right; margin-right: 75px">
        <h1>Your Cart</h1>
        <table>
            <tr>
                <td>Item</td>
                <td>Quantity</td>
                <td style="width: 75px"></td>
            </tr>
            {% for item in cart %}
                <tr>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td style="width: 75px"><a href="/cartdelete/{{loop.index0}}">Remove</a></td>
                </tr>
            {% endfor %}
        </table>
        <form class="checkout" method="post" action="/checkout">
            <input name="checkoutstudent" placeholder="Student Name" type="text" required>
            <br>
            <input name="checkoutteacher" placeholder="Teacher Name" type="text" required>
            <br>
            <input type="submit" value="Submit Request">
        </form>
    </span>
    <span class="cart" style="float: left; margin-left: 75px">
        <h1>Book Equipment</h1>
        <form method="post">
            <input name="view" placeholder="Search for Equipment" type="text">
            <input type="submit" value="Search">
        </form>
        <div class="wrapper">
            <table>
                <tr>
                    <td>Item</td>
                    <td>Available Stock</td>
                    <td>Select Quantity</td>
                </tr>
                {% for item in equipment %}
                    <tr>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td style="text-align: right; padding-right: 5px">
                        <form action="/add/{{item[0]}}">
                            <input type="number" id="quantity" name="cart" min="1" max="{{item[2]}}" required>
                            <input type="submit" value="Add to Cart">
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </span> 
{% endblock %}

